/* Misc */

$vue-color: #46bd87;
$danger-color: #ea4d46;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;

$primaryColor: hsl(172, 67%, 45%);

$neutralColor1: hsl(183, 100%, 15%);
$neutralColor2: hsl(186, 14%, 43%);
$neutralColor3: hsl(184, 14%, 56%);
$neutralColor4: hsl(185, 41%, 84%);
$neutralColor5: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
